body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    min-height: 55vh;
    width: 100%;
    margin: auto;
    background-image: linear-gradient(rgba(3, 9, 90, 0.7),
            rgba(3, 9, 30, 1)), url(collage3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom-right-radius: 5% 10%;
    border-bottom-left-radius: 5% 10%;
}

.text-box {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 41px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 14px 41px;
    border-radius: 25px;
    font-size: 14px;
    background: #fff;
    color: #000;
    position: relative;
    cursor: pointer;
}

/* ------- Course ------- */

.course {
    width: 90%;
    margin: auto;
    margin-top: -40px;
    text-align: center;
    padding-top: 100px;
}

.list {
    content: center;
    text-align: left;
}

.row {
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
}

.col {
    background: #2e50fd;
    flex-basis: 32%;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;

}

/* ------- Login page ------- */

.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.login-header{
    text-align: center;
    margin: 20px 0 40px 0
}

.login-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.input-box .input-field{
    width: 40%;
    height: 50px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 1px solid #c2c0c0;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
}

::placeholder{
    color: black;
    font-size: 19px;
}

.submit-btn{
    margin-top: 50px;
    width: 30%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid grey;
    background: #2e50fd;
    color: #fff;
    font-size: 16px;
}

.mat{
    background: linear-gradient(rgba(3, 9, 90, 0.7),
    rgba(3, 9, 30, 1));
    border-top-right-radius: 5% 10%;
    border-top-left-radius: 5% 10%;
}

.media-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.audio-player, .video-player {
    background-color: none;
    border: none;
    padding: 20px;
    width: 45%;
}

audio, video {
    width: 100%;
    border-radius: 10px;
}

h2 {
    color: #fff;
    margin-bottom: 10px;
}

.footer-content{
    color: #fff;
    font-size: 19px;
    text-align: center;
    align-items: center;
    margin-bottom: -100px;
    margin-top: 50px;
    min-height: 10vh;
    width: 100%;
}